.full {
    display: flex;
    min-height: 100dvh;
    align-items: center;
    background-image: url('../photos/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom-input::placeholder {
    color: #FF305D;
    font-weight: bold;
    opacity: 1;

}



.phone2 {
    height: 450px ;
}

label {
    color: white;
    opacity: 1;
}

@media screen and (max-width: 800px) {

    .image {
        width: 180px;
    }

    .regLogin {
        width: 300px;
        height: 300px !important;
    }

    .loginButton {
        margin: 0px !important;
    }

     .phone4 {
        height: fit-content !important; 
        min-height: 480px !important; /* Ez elég kell legyen 4 inputnak + gombnak */
        
        /* Fontos: a paddinget NE vedd le 0-ra, mert rásimul a szöveg a szélére */
        padding: 30px 20px !important; 
        
        margin-top: 20px;
        margin-bottom: 20px;
        
        /* A szélesség maradjon fixált mobilon */
        width: 90% !important;
        max-width: 320px !important;
        
        /* Ez segít, hogy a lila div középen maradjon */
        margin-left: auto;
        margin-right: auto;
        
        /* Kényszerítjük, hogy ne lógjon ki semmi */
        overflow: visible !important;
    } 

    
}